@font-face
    font-family: 'Material Icons'
    font-display: fallback
    font-style: normal
    font-weight: 400
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('~/assets/font/MaterialIcons-Regular.woff2') format('woff2'),
         url('~/assets/font/MaterialIcons-Regular.woff') format('woff')

@font-face
    font-family: 'Praxis'
    font-display: fallback
    font-style: normal
    font-weight: 300
    src: local('Praxis Light'),
         local('Praxis Light'),
         url('~/assets/font/PraxisCom-Light.woff2') format('woff2'),
         url('~/assets/font/PraxisCom-Light.woff') format('woff')

@font-face
    font-family: 'Praxis'
    font-display: fallback
    font-style: normal
    font-weight: 400
    src: local('Praxis Regular'),
         local('Praxis Regular'),
         url('~/assets/font/PraxisCom-Regular.woff2') format('woff2'),
         url('~/assets/font/PraxisCom-Regular.woff') format('woff')

@font-face
    font-family: 'Praxis'
    font-display: fallback
    font-style: normal
    font-weight: 700
    src: local('Praxis Semibold'),
         local('Praxis Semibold'),
         url('~/assets/font/PraxisCom-Semibold.woff2') format('woff2'),
         url('~/assets/font/PraxisCom-Semibold.woff') format('woff')

@font-face
    font-family: 'Praxis'
    font-display: fallback
    font-style: normal
    font-weight: 800
    src: local('Praxis Bold'),
         local('Praxis Bold'),
         url('~/assets/font/PraxisCom-Bold.woff2') format('woff2'),
         url('~/assets/font/PraxisCom-Bold.woff') format('woff')

.material-icons
    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    font-size: 24px
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale

    /* Support for IE. */
    font-feature-settings: 'liga'